/* Hero Section */
.full-hero {
  height: 100vh;
}

.half-hero {
  height: 70vh;
}

.hero-section {
  width: 100%;
  position: relative;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.hero-gradient.black-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
}
.hero-gradient.white-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
}

.flip-background {
  transform: scaleX(-1);
}

/* .hero-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.25em;
  letter-spacing: 2px;
  bottom: 25px;
  line-height: 50px;
} */

.half-text-wrapper {
  padding: 20px;
  font-size: 1.15em;
  top: 20px;
  line-height: 45px;
}

/** Making text on hero-section appear on the left side of the screen not in the middle
This is experiment I want to make my website look better, not so fucking basico **/

.hero-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.hero-text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 25px;
  font-size: 1.25em;
  letter-spacing: 2px;
  bottom: 25px;
  line-height: 50px;
  backdrop-filter: saturate(1.1);
}

.hero-header {
  width: 100%;
  text-align: left;
}

.hero-description {
  width: 100%;
  text-align: left;
  font-weight: 600;
}

.hero-home-btn {
  position: relative;
  /* border-left: 1px solid white; */
}

/* Goes all the way here so if gonna uncomment then be here up ^ */

@media (max-width: 850px) {
  .hero-text-wrapper {
    font-size: 1em;
  }
}

@media (max-width: 550px) {
  .half-text-wrapper {
    top: 20px;
  }

  /* Adds the black and white to the sides or bottom, making the text readable without really messing up bg imag */
  .full-hero .hero-gradient.white {
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 0) 100%
      );
  }
  .full-hero .hero-gradient.black {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .half-hero .hero-gradient.white {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0) 100%
      );
  }

  .half-hero .hero-gradient.black {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  /* .hero-text-wrapper {
    backdrop-filter: blur(5px);
  } */

  .hero-text {
    justify-content: center;
  }

  .full-text-wrapper,
  .half-text-wrapper {
    align-items: center;
  }

  .hero-text-wrapper.container {
    margin: 0;
  }

  .hero-header {
    text-align: center;
  }

  .hero-description {
    font-size: 1.1em;
    text-align: center;
  }

  .hero-home-btn {
    border: none !important;
  }
}
